$color_1: red;
$color_2: inherit;
$color_3: #333;
$color_4: #337ab7;
$color_5: #23527c;
$color_6: #c00;
$color_7: #4a4a4a;
$font-family_1: inherit;
$font-family_2: Helvetica Neue, Helvetica, Arial, sans-serif;
$background-color_1: #fff;

.elq-form {
  @include media-breakpoint-down(lg) {
    max-width: 468px;
  }
  font-family: $font-family_2;
  font-size: 14px;
  line-height: 1.42857;
  color: $color_3;

  & label,
  & input, .input {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
  }

  & label {
    margin-bottom: 4px;
    color: $white;
  }

  & input, .input, textarea {
    color: $color_2;
    border-radius: 4px;
    padding: 8px;
    background-color: $white;
    &:focus {
      outline-color: $secondary-orange;
      outline-offset: 1px;
    }
    &.elq-invalid {
      outline: 1px solid #ec6262;
    }
    &.invisible{
      visibility: hidden;
      padding: 0;
      margin: 0;
      width: 0;
      height: 0;
    }
  }

  & input[type='checkbox'], .checkbox {
    margin: 0 16px 0 0;
    height: 18px;
    width: 18px;
    background: #ffffff;
    border: 2px solid #005492;
    padding: 0;
    min-height: 18px;
    min-width: 18px;
  }

  & .elq-form-field {
    margin-bottom: 8px;
    &.accept {
      display: flex;
      & label {
        margin-bottom: 0;
        line-height: 16px;
        & a{
            text-decoration: underline;
            margin-left: 4px;
            color: $white;
        }
      }
    }
  }

  & .elq-required {
    color: $color_1 !important;
    font-weight: 700;
    margin-left: 4px;
  }

  & .elq-title {
    color: $white;
  }
}

.elq-row{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.start{
        justify-content: flex-start;
        margin-top: 4px;
        margin-bottom: 4px;
    }

}

.elq-dropdown{
    border-top: 1px solid black;
}

.elq-arrow{
    transition: all 0.3s;
    &.rotated{
        transform: rotate(180deg);
    }
}

.elq-invalid-message {
    color: #c00;
    font-size: 12px;
    margin-bottom: 2px;
  }

  .thank-you{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: $white;
    & p{
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
    }
  }
